<form class="browser">

  <div class="browser__search">
    <div class="search">
      <input type="text" class="search__input" placeholder="Search API …">
      <i class="search__icon fa fa-search"></i>
      <span class="search__reset">&times;</span>
    </div>
  </div>

  <div class="browser__nodes" up-nav>
    <div class="node on_narrow">
      <%= node_link 'Tutorial', '/tutorial' %>
    </div>
    <div class="node on_narrow">
      <%= node_link 'Installation', '/install' %>
    </div>

    <% guide.promoted_klasses.each do |klass|  %>
      <div class="node is_klass">
        <%= node_link klass.title, klass.guide_path %>
        <% klass.guide_features.each do |feature| %>
          <div class="node is_<%= feature.visibility %>">
            <%= node_link feature.short_signature, feature.guide_path %>
            <% feature.guide_params.each do |param| %>
              <div class="node">
                <%= node_link "[#{param.name}]", param.guide_path %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="node on_narrow">
      <%= node_link 'Changes', '/changes' %>
    </div>

  </div>

</form>
