<!doctype html>
<html>

  <%= partial 'layouts/head' %>

  <body>

    <div class="screen">

      <div class="guide">

        <div class="guide__head"></div>

        <div class="guide__body">

          <div class="guide__left">

            <div class="guide__logo">

              <div class="logo">
                <a href="/" class="logo__name" up-dash=".content" up-transition="cross-fade">
                  Unpoly
                </a>
                <a href="/changelog" class="logo__version" up-dash=".content" up-transition="cross-fade" up-tooltip="Changelog">
                  <%= guide.version %>
                </a>
              </div>
            </div>

            <a href="/menu" up-modal=".menu" class="guide__hamburger" up-anchored="right">☰</a>

            <div class="guide__menu">
              <%= partial 'menu' %>
            </div>

          </div>

          <div class="guide__right">
            <%= partial 'search' %>
          </div>

          <div class="guide__content">
            <div class="content">
              <%= yield %>
            </div>

            <div class="guide__fineprint">
              A <a href="http://www.makandra.com/" class="hyperlink is_gray">makandra</a> project
              (<a href="/imprint" class="hyperlink is_gray" up-modal=".content">imprint</a>)
            </div>

          </div>
        </div>

      </div>

     </div>

  </body>

</html>
