<!doctype html>
<html>

  <%= partial 'layouts/head' %>

  <body>

    <div class="screen">

      <div class="guide">

        <div class="guide__head"></div>

        <div class="guide__body">

          <div class="guide__left">

            <a href="/" class="logo" up-dash=".content" up-transition="cross-fade">
              <img class="logo__glyph" src="/images/logo.gif" alt="" />
                <span class="logo__name">
                  Up.js
                </span>
                <span class="logo__alpha">
                  Beta
                </span>
            </a>

            <div class="menu">
              <% %w[up.link up.modal up.popup up.motion up.navigation up.magic up.flow up.proxy up.form up.tooltip up.history up.layout up.bus].each do |klass_name| %>
                <% klass = guide.klass_for_name(klass_name) %>
                <a href="<%= klass.guide_path %>" class="menu__item" up-dash=".content" up-transition="fade-out/move-from-bottom" up-duration="400">
                  <%= klass.title %>
                </a>
              <% end %>
            </div>

          </div>

          <div class="guide__right">

            <form class="search">

              <input type="text" class="search__query" placeholder="Search API …">

              <div class="search__matches">
                <% guide.all_functions.reject(&:private?).sort.each do |function| %>
                  <a href="<%= function.guide_path %>" up-modal=".content" class="search__symbol is-<%= function.visibility %>" data-search-text="<%= function.search_text %>">
                    <%= function.name %>
                  </a>
                <% end %>
              </div>

            </form>

          </div>

          <div class="guide__content">
            <div class="content">
              <%= yield %>
            </div>

            <div class="guide__fineprint">
              A <a href="http://www.makandra.com/" class="hyperlink is_gray">makandra</a> project
              (<a href="/imprint" class="hyperlink is_gray" up-modal=".content">imprint</a>)
            </div>

          </div>
        </div>

      </div>

     </div>

  </body>

</html>
