<!doctype html>
<html>

  <% guide.ensure_fresh! if development? # reload guide if we have rendered a page with it before %>
  <%= partial 'layouts/head' %>
  <% @menu_path = '/api/menu' if @menu_path.nil? && @menu_html.nil? %>

  <body>

    <div class="screen" up-main="cover">

      <div class="guide">

        <div class="guide__head" up-fixed="top">

          <div class="viewport">

            <div class="guide__logo">

              <a class="logo" href="/">
                <%= image_tag 'unpoly_logo.svg', class: 'logo__pixels', alt: 'Unpoly' %>
              </a>

            </div>

            <div class="guide__version_nav">
              <a href="/version_choice" class="version_nav" up-layer="new popup" up-target=".choice">
                <%= guide.short_version %> <i class="fa fa-angle-down"></i>
              </a>
            </div>

            <div class="guide__top_nav">

              <div class="top_nav" up-nav>
                <a href="/api" class="top_nav__section" up-alias="/up.* /up:* /up-* /*-up-* /has">API</a>
                <a href="/tutorial" class="top_nav__section">Tutorial</a>
                <a href="https://demo.unpoly.com" class="top_nav__section" target="_blank">Demo</a>
                <a href="/install" class="top_nav__section" up-alias="/install/*">Install</a>
                <a href="/changes" class="top_nav__section" up-alias="/changes/*">Changes</a>
                <a href="/support" class="top_nav__section is_support">Support</a>
                <span class="top_nav__right">
                  <a href="https://github.com/unpoly/unpoly" class="top_nav__section is_social"><i class="fa fa-github"></i><span class="top_nav__label"> GitHub</span></a>
                </span>
                <a href="/menu/narrow" class="top_nav__section is_hamburger" up-target=".menu" up-layer="new drawer" up-position="right" up-history="false"><i class="fa fa-bars"></i> Menu</a>
              </div>

            </div>

          </div>

        </div>

        <div class="guide__torso">

          <div class="viewport">

            <div class="guide__left">

              <div class="guide__menu" up-viewport>
                <% if @menu_html %>
                  <%= @menu_html %>
                <% else %>
                  <div class="menu is_placeholder">
                    <a href="<%= @menu_path %>" class="hyperlink is_gray">Menu</a>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="guide__main" <% if @menu_path %> wants-menu-path="<%= @menu_path %>" <% end %> up-main="root">

              <div class="guide__content" up-main="modal">
                <%= yield %>
              </div>

              <div class="guide__fineprint">
                <div class="fineprint">
                  <div class="fineprint__item">
                    Made by
                    <a href="https://twitter.com/triskweline" class="hyperlink is_gray">Henning Koch</a>
                  </div>

                  <div class="fineprint__item">
                    <a href="/imprint" class="hyperlink is_gray">Imprint</a>
                  </div>

                  <div class="fineprint__item">
                    <a href="/privacy" class="hyperlink is_gray">Privacy policy</a>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

     </div>

    <%= partial 'layouts/foot' %>

  </body>

</html>
