<!doctype html>
<html>

  <%= partial 'layouts/head' %>

  <body>

    <div class="screen">

      <div class="guide">

        <div class="guide__head" up-fixed="top">

          <div class="viewport">

            <div class="guide__logo">

              <a class="logo" href="/" content-link>
                <%= image_tag 'unpoly_revised_white.png', class: 'logo__pixels', alt: 'Unpoly' %>
              </a>

            </div>

            <div class="guide__top_nav">

              <div class="top_nav">
                <a href="/install" class="top_nav__section" content-link>Install</a>
                <a href="/tutorial" class="top_nav__section" content-link>Tutorial</a>
                <a href="/changes" class="top_nav__section" content-link>Changes</a>
                <a href="/community" class="top_nav__section" content-link>Community</a>
                <a href="https://github.com/unpoly/unpoly" class="top_nav__section is_github"><i class="fa fa-github"></i> Github</a>
                <a href="/contents" class="top_nav__section is_hamburger" modal-link=".browser" up-flavor="drawer" up-history="false"><i class="fa fa-bars"></i> Menu</a>
              </div>

            </div>

          </div>

        </div>

        <div class="guide__torso">

          <div class="viewport">

            <div class="guide__left">
              <div class="guide__browser" up-viewport>
                <% if @browser_inclusion == 'sync' %>
                  <%= partial 'layouts/browser' %>
                <% else %>
                  <div class="browser is_placeholder">
                    <a href="/contents" class="hyperlink is_gray">Contents</a>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="guide__content">
              <div class="page_content <%= 'does-want-browser' if @browser != false %>">
                <div class="modal_content">
                  <%= yield %>
                </div>


                <div class="guide__fineprint">
                  <div class="fineprint">
                    <div class="fineprint__item">
                      Made by
                      <a href="https://twitter.com/triskweline" class="hyperlink is_gray">Henning Koch</a>
                    </div>

                    <div class="fineprint__item">
                      <a href="/imprint" class="hyperlink is_gray">Imprint</a>
                    </div>

                    <div class="fineprint__item">
                      <a href="/privacy" class="hyperlink is_gray">Privacy policy</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>

      </div>

     </div>

  </body>

</html>
