<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1'>
    <meta name="format-detection" content="telephone=no"> <%# Mobile safari styles phone numbers differently ... %>
    <link href='<%= image_path('favicon.png') %>' rel='shortcut icon' type='image/png'>

    <title><%= window_title %></title>

    <%= stylesheet_link_tag 'application.css' %>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Source+Sans+Pro:200,400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <%= javascript_include_tag 'application.js' %>
    <script>hljs.initHighlightingOnLoad();</script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      /*
       ga('create', 'UA-8114576-5', 'makandra.com');
       ga('set', 'anonymizeIp', true);
       ga('send', 'pageview');
       */

      console.log("Add GA!");

    </script>

  </head>
  <body>

    <div class="layout">

      <div class="layout__head"></div>

      <div class="layout__body">
        <div class="viewport">
          <div class="layout__side">

            <a href="/" class="logo">
              <img class="logo__glyph" src="/images/logo.gif" alt="" />
              <span class="logo__name">
                Up.js
              </span>
            </a>

            <div class="menu">
              <% %w[up.link up.modal up.popup up.motion up.navigation up.magic up.flow up.form up.tooltip up.history up.bus].each do |klass_name| %>
                <% klass = guide.klass_for_name(klass_name) %>
                <%= link_to klass.title, "/#{klass.name}", class: 'menu__item' %>
              <% end %>
            </div>

            <div class="layout__fineprint">
              A <a href="http://www.makandra.com/" class="hyperlink is_gray">makandra</a> project
              (<a href="/imprint" class="hyperlink is_gray">imprint</a>)
            </div>

          </div>

          <div class="layout__content">
            <%= yield %>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
