<!doctype html>
<html>

  <% example.reload if development? %>

  <%= partial 'layouts/head' %>

  <body>
    <div class="screen">

      <div class="example">

        <div class="example__info">

          <div class="example__back">
            <a href="/" up-back up-target=".screen" up-transition="cross-fade" up-duration="300" class="action">Back</a>
          </div>
          <div class="example__title"><%= example.title %></div>

          <% if example.explanation.present? %>
            <div class="example__explanation">
              <%= example.highlight markdown(example.explanation) %>
            </div>
          <% end %>

          <% (example.pages + example.javascripts).each do |asset| %>
            <div class="example__file">
              <div class="example__filename"><%= asset.name %></div>
              <pre class="example__code"><code><%= example.highlight(h asset.text) %></code></pre>
            </div>
          <% end %>
        </div>
        <iframe class="example__demo" src="<%= example.demo_path %>"></iframe>
      </div>
    </div>

  </body>

</html>
