<%
  guide.reload if development?
  @page_title = 'Changes'
%>


<div class="prose">

  <h1>Changes</h1>

  <p>This project mostly adheres to <a href="http://semver.org/">Semantic Versioning</a>.</p>

  <ul>
    <% guide.releases.each do |release| %>
      <li>
        <%= link_to release.version, "/changes/#{release.version}" %>
        <% if release.date %>
          (<%= release.date %>)
        <% end %>
      </li>
    <% end %>
  </ul>

  <% guide.releases.first(2).each do |release| %>
    <h2>
      <%= release.version %>
      <% if release.date %>
        (<%= release.date %>)
      <% end %>
    </h2>
    <%= markdown(release.markdown) %>
  <% end %>

</div>
