<%
  guide.reload if development?
  release = guide.release_for_version(version)
  @menu_path = '/changes/menu'
%>

<%= revision_on_github_button(release) %>

<h1>
  <%= breadcrumb_link 'Changes', '/changes' %>

  <%= page_title "Changes in #{release.version}" %>

  <% if release.date %>
    <div class="subtitle">
      <span class="dimmed">Released on</span>
      <%= release.date.strftime("%B %d, %Y") %>
    </div>
  <% end %>
</h1>

<div class="prose">
  <%= markdown(release.markdown) %>
</div>
