<%
  guide.reload if development?
  release = guide.release_for_version(release_version)
  @menu_path = '/changes/menu'
%>

<%= revision_on_github_button(release) %>

<h1>
  <%= breadcrumb_link 'Changes', '/changes' %>

  <%= page_title "Version #{release.version}" %>

  <% if release.date %>
    <div class="subtitle">
      <span class="dimmed">Released on</span>
      <%= release.date.strftime("%B %d, %Y") %>
      <% if (commit_count = release.commit_count) %>
        <span class="dimmed">with</span>
        <%= link_to pluralize(commit_count, 'commit', 'commits'), release.github_commits_url %>
      <% end %>
    </div>
  <% end %>
</h1>

<% auto_toc do %>

  <div class="prose" <%= 'data-proofer-ignore' unless release.current_major? %>>
    <% release_html = markdown(release.markdown, autolink_github_issues: true, autolink_github_users: true, autolink_code: true, normalize_heading_level: true) %>
    <% unless release_html =~ /<h\d(>|\s)/ %><h2>Changes</h2><% end %>
    <%= release_html %>
  </div>

  <%= partial('changes/upgrading_teaser', locals: { release: release }) %>

<% end %>
