<% @menu_path = '/menu/install' %>

<h1>
  <%= breadcrumb_link 'Install', '/install' %>
  <%= page_title 'Link to a CDN' %>
</h1>

<div class="prose">

  <p>
    You can link to the Unpoly files directly from a CDN:
  </p>

  <pre><code><%= h cdn_js_include('unpoly.min.js') %>
<%= h cdn_css_include('unpoly.min.css') %></code></pre>

  <h3>Adding Bootstrap integration</h3>

  <p>If you want to use Unpoly's Bootstrap integration, you should <b>also</b> add the following links:</p>

  <pre><code><%= h cdn_js_include('unpoly-bootstrap3.min.js') %>
<%= h cdn_css_include('unpoly-bootstrap3.min.css') %></code></pre>

  <%= partial 'star_prompt' %>

</div>
