<% @menu_path = '/install/menu' %>

<h1>
  <%= breadcrumb_link 'Install', '/install' %>
  <%= page_title 'Clone with Git' %>
</h1>

<div class="prose">

  <p>
    Clone the project from <a href="https://github.com/unpoly/unpoly">GitHub</a>
    and checkout the release:
  </p>

  <pre><code class="nohighlight">git clone https://github.com/unpoly/unpoly.git
cd unpoly
git checkout v<%= guide.version %></code></pre>

  <p>
    The compiled <%= content_hyperlink 'library files', '/install#files' %> are
    in <code>dist</code>. The sources are in <code>lib/assets</code>.
  </p>

  <%= partial 'star_prompt' %>

</div>
