<% @menu_path = '/install/menu' %>

<h1><%= page_title 'Installing Unpoly' %></h1>

<div class="prose">

  <h2>No dependencies</h2>

  <p>Unpoly has <b>no dependencies</b> on the client or server.</p>

  <p>
    You can write your server-side code in <b>any programming language</b> like Ruby, Node.js, PHP or Python.
    By loading the <a href="#files">frontend files</a> below, Unpoly's API becomes available to your HTML templates and JavaScripts.

    <b>No server-side integration is required</b>.
  </p>

  </p>
    Unpoly also works great with static sites.
  </p>

  <h2 id="files">Frontend files</h2>

  <p>
    Unpoly consists one JavaScript file and one CSS file:
  </p>

  <table>
    <tr>
      <th>Development</th>
      <th colspan="2">Production</th>
    </tr>
    <tr>
      <td>
        <%= link_to_cdn_file('unpoly.js') %>
      </td>
      <td>
        <%= link_to_cdn_file('unpoly.min.js') %>
      </td>
      <td align="right" class="dimmed">
        <%= unpoly_library_size('unpoly.min.js') %> gzipped
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to_cdn_file('unpoly.css') %>
      </td>
      <td>
        <%= link_to_cdn_file('unpoly.min.css') %>
      </td>
      <td align="right" class="dimmed">
        <%= unpoly_library_size('unpoly.min.css') %> gzipped
      </td>
    </tr>
  </table>

  <p>
    <code>unpoly.js</code> is transpiled to ES2020 and will work in all modern browsers.<br>
    If Internet Explorer 11 or legacy Safari versions are a concern for you, see <a href="#legacy-browsers">legacy browser support</a>.
  </p>


  <h2 id="initialization">Initialization</h2>

  <p>
    Include Unpoly before your own stylesheets and JavaScripts:
  </p>

  <pre><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;link rel="stylesheet" href="unpoly.css" /&gt;
    &lt;link rel="stylesheet" href="script.css" /&gt;
    &lt;script src="unpoly.js"&gt;&lt;/script&gt;
    &lt;script src="scripts.js"&gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;!-- HTML here may use Unpoly attributes like [up-follow] --&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>

  <p>
    You may also load Unpoly with <code>&lt;script defer&gt;</code> or <code>&lt;script type="module"&gt;</code>.
  </p>

  <p>
    By default, Unpoly automatically initializes on the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/DOMContentLoaded_event"><code>DOMContentLoaded</code></a>
    event and runs your <a href="/up.compiler">compilers</a> on the initial page.
    For <b>manual</b> initialization, load Unpoly with <a href="/script-up-boot-manual">&lt;script up-boot="manual"&gt;</a> and later call <a href="/up.boot"><code>up.boot()</code></a>.
  </p>

  <p>
    <code>unpoly.js</code> defines a single global property <code>window.up</code> to expose its <a href="/api">API</a> to your JavaScripts.
  </p>


  <h2 id="methods">Installation methods</h2>

  <p>
    You have multiple options for downloading and integrating Unpoly:
  </p>

  <ul>
    <li><%= hyperlink 'Link to a CDN', '/install/cdn' %> (great to test-drive)</li>
    <li><%= hyperlink 'Download', '/install/download' %></li>
    <li><%= hyperlink 'Install with npm', '/install/npm' %></li>
    <li><%= hyperlink 'Install with Ruby', '/install/ruby' %></li>
    <li><%= hyperlink 'Install with PHP', '/install/php' %></li>
    <li><%= hyperlink 'Install with Python', '/install/python' %></li>
    <li><%= hyperlink 'Install with Elixir', '/install/elixir' %></li>
  </ul>


  <h2 id="legacy-browsers">Legacy browser support</h2>

  <p>Recent versions of Unpoly supports <%= hyperlink 'all modern browsers', '/up.framework.isSupported' %>.</p>

  <p>
    The last version with support for Internet Explorer 11 is <a href="/changes/2.7.1">2.7</a>.
  </p>

  <p>
    <code>unpoly.js</code> also uses modern JavaScript syntax that may not supported by some legacy browsers or build pipelines.
    If you're not already working around this with a transpiler like <a href="https://babeljs.io/">Babel</a>,
    you may also use the ES6 build of Unpoly:
  </p>

  <table>
    <tr>
      <th>Development</th>
      <th colspan="2">Production</th>
    </tr>
    <tr>
      <td>
        <%= link_to_cdn_file('unpoly.es6.js') %>
      </td>
      <td>
        <%= link_to_cdn_file('unpoly.es6.min.js') %>
      </td>
      <td align="right" class="dimmed">
        <%= unpoly_library_size('unpoly.es6.min.js') %> gzipped
      </td>
    </tr>
  </table>

  <p>
    The ES6 build does not contain any polyfills.
  </p>

  <h2>Bootstrap integration</h2>

  <p>
    If you're using <a href="http://getbootstrap.com/">Bootstrap</a>, there are some <b>optional</b> files that configures
    Unpoly to use Bootstrap's CSS classes:
  </p>

  <table>
    <tr>
      <th>Development</th>
      <th colspan="2">Production</th>
    </tr>
    <tr>
      <td>
        <%= link_to_cdn_file('unpoly-bootstrap3.js') %>
      </td>
      <td>
        <%= link_to_cdn_file('unpoly-bootstrap3.min.js') %>
      </td>
      <td align="right" class="dimmed">
        <%= unpoly_library_size('unpoly-bootstrap3.min.js') %> gzipped
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to_cdn_file('unpoly-bootstrap4.js') %>
      </td>
      <td>
        <%= link_to_cdn_file('unpoly-bootstrap4.min.js') %>
      </td>
      <td align="right" class="dimmed">
        <%= unpoly_library_size('unpoly-bootstrap4.min.js') %> gzipped
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to_cdn_file('unpoly-bootstrap5.js') %>
      </td>
      <td>
        <%= link_to_cdn_file('unpoly-bootstrap5.min.js') %>
      </td>
      <td align="right" class="dimmed">
        <%= unpoly_library_size('unpoly-bootstrap5.min.js') %> gzipped
      </td>
    </tr>
  </table>

  <h2>Upgrade shim</h2>

  <p>
    If you're <a href="/changes/upgrading">upgrading from an older version</a> you should also load <code>unpoly-migrate.js</code>
    to enable deprecated APIs:
  </p>

  <table>
    <tr>
      <th>Development</th>
      <th colspan="2">Production</th>
    </tr>
    <tr>
      <td>
        <%= link_to_cdn_file('unpoly-migrate.js') %>
      </td>
      <td>
        <%= link_to_cdn_file('unpoly-migrate.min.js') %>
      </td>
      <td align="right" class="dimmed">
        <%= unpoly_library_size('unpoly-migrate.min.js') %> gzipped
      </td>
    </tr>
  </table>


</div>

