<% @menu_path = '/install/menu' %>

<h1><%= page_title 'Installing Unpoly' %></h1>


<div class="prose">

  <p>
    <span class="line-on-wide">
      Unpoly consists of one JavaScript file and one CSS file
      that you can require in your <code>&lt;head&gt;</code>.
    </span>
      <span class="line-on-wide">
      It has no dependencies and doesn't require a build tool.
    </span>
  </p>

  <p>
    <span class="line-on-wide">
      Unpoly works with any server that can render HTML, or with static sites.
    </span>
  <span class="line-on-wide">
      You do not need additional software on your backend.
    </span>
  </p>

  <% auto_toc do %>

    <!--
    <table>
      <tr>
        <th>Development</th>
        <th colspan="2">Production</th>
      </tr>
      <tr>
        <td>
          <%= link_to_cdn_file('unpoly.js') %>
        </td>
        <td>
          <%= link_to_cdn_file('unpoly.min.js') %>
        </td>
        <td align="right" class="dimmed">
          <%= unpoly_library_size('unpoly.min.js') %> gzipped
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to_cdn_file('unpoly.css') %>
        </td>
        <td>
          <%= link_to_cdn_file('unpoly.min.css') %>
        </td>
        <td align="right" class="dimmed">
          <%= unpoly_library_size('unpoly.min.css') %> gzipped
        </td>
      </tr>
    </table>
    -->

    <h2 id="initialization">Initialization</h2>

    <p>
      Include Unpoly before your own JavaScripts and stylesheets:
    </p>

    <pre><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    <%= h cdn_css_include('unpoly.css') %> &lt;!-- mark-line --&gt;
    <%= h cdn_js_include('unpoly.js') %> &lt;!-- mark-line --&gt;
    &lt;link rel="stylesheet" href="your-styles.css" /&gt;
    &lt;script src="your-scripts.js" defer&gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;!-- Use Unpoly attributes in your HTML --&gt;
    &lt;a href="/page" up-follow&gt;Follow me with Unpoly&lt;a&gt; &lt;!-- mark: up-follow --&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
    </p>

    <p>
      Unpoly initializes on <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/DOMContentLoaded_event"><code>DOMContentLoaded</code></a>
      and enhances the HTML on your page. You can also <a href="/up-boot-manual">boot Unpoly manually</a> at a time of your choice.
    </p>

    <h2 id="npm">Installing from npm</h2>

    <p>
      Instead of loading Unpoly from a CDN, you can install it as an <a href="https://www.npmjs.com/package/unpoly">npm package</a>:
    </p>

    <pre><code class="nohighlight">npm install unpoly<%= '@next' if pre_release? %> --save</code></pre>

    <p>
      Now import Unpoly before your own JavaScripts and stylesheets:
    </p>

    <pre><code>import 'unpoly/unpoly.js'  // mark-line
import 'unpoly/unpoly.css' // mark-line
import './your-scripts.js'
import './your-styles.css'
</code></pre>

    <h2 id="javascript-api">JavaScript API</h2>

    <p>
      <span class="line-on-wide">
        Most of Unpoly's functionality is provided as new attributes
        that you can add to any HTML element.
      </span>
      <span class="line-on-wide">
        Unpoly also provides a JavaScript API to extend Unpoly or <a href="/up.script">integrate your custom scripts</a>.
      </span>
    </p>

    <p>
      Unpoly's JavaScript API can be accessed through the <code>window.up</code> global, without an explicit <code>import</code>:
    </p>

    <pre><code>up.compiler('.click-to-hide', function(element) {
  let hide = () => element.style.display = 'none'
  element.addEventListener('click', hide)
})</code></pre>

    <h2 id="extensions">Optional extensions</h2>

    <p>
      You know have everything you need to start using Unpoly!
    </p>

    <p>
      We provide a number of <b>optional</b> extensions:
    </p>

    <ul>
      <li><a href="/install/server-bindings">Optional server bindings</a>: Inspect or manipulate Unpoly's rendering through HTTP headers</li>
      <li><a href="/install/legacy-browsers">Legacy browsers support</a>: Support for ancient browsers and build tools</li>
      <li><a href="/install/bootstrap">Bootstrap integration</a>: Configure Unpoly to use Bootstrap classes</li>
      <li><a href="/changes/upgrading">Upgrade shim</a>: Polyfills for deprecated Unpoly APIs</li>
    </ul>

  <% end %>

</div>

