<% menu do %>

  <div class="menu__title">Installation</div>

  <div class="node"><%= node_link 'Overview', '/install' %></div>
  <div class="node"><%= node_link 'Link to a CDN', '/install/cdn' %></div>
  <div class="node"><%= node_link 'Install with npm', '/install/npm' %></div>
  <div class="node"><%= node_link 'Install with Ruby', '/install/ruby' %></div>
  <div class="node"><%= node_link 'Install with PHP', '/install/php' %></div>
  <div class="node"><%= node_link 'Install with Elixir', '/install/elixir' %></div>
  <div class="node"><%= node_link 'Install with Bower', '/install/bower' %></div>
  <div class="node"><%= node_link 'Download as ZIP', '/install/zip' %></div>
  <div class="node"><%= node_link 'Clone with Git', '/install/git' %></div>

<% end %>
