<% @menu_path = '/install/menu' %>

<h1>
  <%= breadcrumb_link 'Install', '/install' %>
  <%= page_title 'Install with npm' %>
</h1>

<div class="prose">

  <p>
    Install the <a href="https://www.npmjs.com/package/unpoly">npm package</a> like this:
  </p>

  <pre><code class="nohighlight">npm install unpoly<%= '@next' if pre_release? %> --save</code></pre>

  <p>
    This will add Unpoly as a dependency to your <code>package.json</code>.<br>
    The package will be downloaded into <code>node_modules/unpoly</code>.
  </p>

  <p>
    Now include the <%= hyperlink 'CSS and Javascript files', '/install#files' %>
    in your asset bundle.
  </p>

  <%= partial 'star_prompt' %>

</div>
