<% @menu_path = '/install/menu' %>

<h1>
  <%= breadcrumb_link 'Install', '/install' %>
  <%= page_title 'Download as ZIP' %>
</h1>

<div class="prose">

  <p>Download the <a href="https://github.com/unpoly/unpoly/archive/v<%= guide.version %>.zip">minified files and complete source code</a>:</p>

  <pre><code class="nohighlight">curl -LO https://github.com/unpoly/unpoly/archive/v<%= guide.version %>.zip
unzip v<%= guide.version %>.zip</code></pre>

  <p>
    After unzipping the minified <%= hyperlink 'library files', '/install#files' %>
    will be in the <code>unpoly-<%= guide.version %>/dist</code> directory.
  </p>

  <%= partial 'star_prompt' %>

</div>