<div class="prose">
  <h1>Download as ZIP</h1>

  Download the <a href="https://github.com/unpoly/unpoly/archive/v<%= guide.version %>.zip">minified files and complete source code</a>:

  <pre><code class="nohighlight">curl -LO https://github.com/unpoly/unpoly/archive/v<%= guide.version %>.zip
unzip v<%= guide.version %>.zip</code></pre>

  <p>
    After unzipping the minified <%= content_hyperlink 'library files', '/install#files' %>
    will be in the <code>unpoly-<%= guide.version %>/dist</code> directory.
  </p>

  <%= partial 'star_prompt' %>

</div>