<a href="<%= feature.guide_path %>" class="documentable_preview is_<%= feature.visibility %>">

  <span class="documentable_preview__kind" title="<%= feature.long_kind %>"><%= feature.short_kind %></span>

  <div class="documentable_preview__title">
    <span class="documentable_preview__signature"><%= h(feature.signature) %></span>
    <span class="documentable_preview__visibility">
      <span class="tag is_<%= feature.visibility %> %>">
        <%= feature.visibility %>
      </span>
    </span>
  </div>

  <% if feature.summary_markdown.present? %>
    <div class="documentable_preview__summary">
      <%= markdown_prose(feature.summary_markdown, strip_links: true) %>
    </div>
  <% end %>

</a>
