<div class="node is_interface">
  <%= node_link interface.title, interface.guide_path %>
  <% interface.guide_features.sort.each do |feature| %>
    <div class="node is_<%= feature.visibility %>">
      <%= node_link feature.short_signature, feature.guide_path %>
      <% feature.guide_params.each do |param| %>
        <div class="node">
          <%= node_link "[#{param.name}]", param.guide_path %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% case interface.name %>
  <% when 'up.form' %>
    <%= partial 'api/interface_nodes', locals: { interface: guide.interface_for_name!('up.Params') } %>
  <% when 'up.layer' %>
    <%= partial 'api/interface_nodes', locals: { interface: guide.interface_for_name!('up.Layer') } %>
  <% when 'up.request' %>
    <%= partial 'api/interface_nodes', locals: { interface: guide.interface_for_name!('up.Request') } %>
    <%= partial 'api/interface_nodes', locals: { interface: guide.interface_for_name!('up.Response') } %>
  <% end %>

</div>
