<div class="node is_klass">
  <%= node_link klass.title, klass.guide_path %>
  <% klass.guide_features.sort.each do |feature| %>
    <div class="node is_<%= feature.visibility %>">
      <%= node_link feature.short_signature, feature.guide_path %>
      <% feature.guide_params.each do |param| %>
        <div class="node">
          <%= node_link "[#{param.name}]", param.guide_path %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if klass.name == 'up.form' %>
    <%= partial 'api/klass_nodes', locals: { klass: guide.klass_for_name('up.Params') } %>
  <% end %>

  <% if klass.name == 'up.proxy' %>
    <%= partial 'api/klass_nodes', locals: { klass: guide.klass_for_name('up.Request') } %>
    <%= partial 'api/klass_nodes', locals: { klass: guide.klass_for_name('up.Response') } %>
  <% end %>

</div>
