<%
  guide.reload if development?
  feature = guide.find_by_guide_id!(feature_id)
  @page_title = feature.title

  params_section_visible = feature.params.present? || feature.params_note.present?

  params_section_title = if feature.selector?
    'Modifying attributes'
  elsif feature.property?
    'Value'
  elsif feature.event?
    'Properties'
  else
    'Parameters'
  end

  params_section_id = slugify(params_section_title)
%>

<div class="feature is_<%= feature.visibility %>">

  <%= edit_button(feature) %>

  <h1>
    <%= breadcrumb_link feature.interface.name, feature.interface.guide_path %>

    <%= h(feature.signature) %>

    <div class="subtitle">
      <%= feature.long_kind %>
    </div>

  </h1>

  <% if feature.visibility_comment.present? %>
    <div class="notification">
      <%
        visibility_comment = feature.visibility_comment
        if feature.experimental?
          visibility_comment = '<i class="fa fa-flask"></i> ' + visibility_comment
        end
        if feature.deprecated?
          visibility_comment = '<i class="fa fa-ban"></i> ' + visibility_comment
        end
        %>
      <%= markdown_prose visibility_comment %>
      <% if feature.deprecated? && visibility_comment !~ /without replacement/i %>
        <p class="notification--subline">
          Load <a href="/changes/upgrading"><code>unpoly-migrate.js</code></a>
          to polyfill deprecated features.
        </p>
      <% end %>
    </div>
  <% end %>

  <% auto_toc do %>

    <% if feature.guide_markdown.present? %>
      <div class="feature__prose">
        <%= markdown_prose(feature.guide_markdown) %>
      </div>
    <% end %>

    <%= partial 'see_also', locals: { referencer: feature } %>

    <% if params_section_visible %>
      <div class="bleed-section">

        <h2 id="<%= slugify(params_section_id) %>"><%= params_section_title %></h2>

        <% if feature.params_note.present? %>
          <div class="feature__params_note">
            <% admonition(:info) do %>
              <%= markdown_prose(feature.params_note) %>
            <% end %>
          </div>
        <% end %>

        <% feature.published_params.each do |param| %>
          <div class="feature__param" id="<%= param.guide_anchor %>" anchor-link>
            <div class="feature__param_name">
              <%= param.signature -%>
              <% if param.types.present? %>
                <span class="feature__param_type">
                  <%= type param.types %>
                </span>
              <% end %>
              <% if param.optional? %>
                <span class="tag is_light_gray">
                  optional
                </span>
              <% end %>
              <% if param.experimental? && !feature.experimental? %>
                <%= experimental_tag %>
              <% end %>
            </div>
            <div class="feature__param_prose">

              <div class="prose">
                <%= markdown(param.guide_markdown) %>
                <% if param.references? %>
                  <p>
                    See <%= param.references.map { |reference| hyperlink_to_reference(reference) }.join(', ') %>.
                  </p>
                <% end %>
              </div>

            </div>
          </div>
        <% end %>

      </div>
    <% end %>

    <% if feature.response %>

      <h2 id="return-value">
        Return value
      </h2>

      <% if feature.response.types.present? %>
        <div>
          <%= type(feature.response.types) %>
        </div>
      <% end %>

      <div class="feature__param_prose">
        <%= markdown_prose(feature.response.guide_markdown) %>
      </div>
    <% end %>

  <% end %>

</div>
