<%
  guide.reload if development?
  feature = guide.find_by_guide_id!(feature_id)
  @page_title = feature.title

  params_segment_visible = feature.params.present? || feature.params_note.present?

  if feature.selector?
    params_section_title = 'Modifying attributes'
    params_segment_id = 'attributes'
  elsif feature.property?
    params_section_title = 'Value'
    params_segment_id = 'value'
  elsif feature.event?
    params_section_title = 'Event properties'
    params_segment_id = 'properties'
  else
    params_section_title = 'Parameters'
    params_segment_id = 'parameters'
  end
%>

<div class="feature is_<%= feature.visibility %>">

  <%= edit_button(feature) %>

  <h1>
    <%= breadcrumb_link feature.interface.name, feature.interface.guide_path %>

    <%= h(feature.signature) %>

    <div class="subtitle">
      <%= feature.long_kind %>
    </div>

  </h1>

  <% if feature.visibility_comment.present? %>
    <div class="notification">
      <%
        visibility_comment = feature.visibility_comment
        if feature.experimental?
          visibility_comment = '<i class="fa fa-flask"></i> ' + visibility_comment
        end
        if feature.deprecated?
          visibility_comment = '<i class="fa fa-ban"></i> ' + visibility_comment
        end
        %>
      <%= markdown_prose visibility_comment %>
      <% if feature.deprecated? && visibility_comment !~ /without replacement/i %>
        <p class="notification--subline">
          Load <a href="/changes/upgrading"><code>unpoly-migrate.js</code></a>
          to polyfill deprecated features.
        </p>
      <% end %>
    </div>
  <% end %>

  <% auto_toc do %>

    <% if feature.guide_markdown.present? %>
      <div class="feature__prose">
        <%= markdown_prose(feature.guide_markdown) %>
      </div>
    <% end %>

    <%= partial 'see_also', locals: { referencer: feature } %>

    <% if params_segment_visible %>
      <hr class="separator">

      <%
        params = feature.published_params
        param_sections = feature.published_param_sections
        show_param_section_titles = param_sections.size > 1 && params.size > 3
      %>

      <% if show_param_section_titles %>
        <div class="minitoc">
          <div class="minitoc__heading">
            <h2 id="<%= slugify(params_segment_id) %>"><%= params_section_title %></h2>
          </div>
          <div class="minitoc__items">
            <% param_sections.each do |param_section| %>
              <div class="minitoc__item">
                <a href="#<%= param_section.guide_anchor(params_segment_id) %>" class="hyperlink is_secondary">
                  <%= param_section.title %>
                </a>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <h2 id="<%= slugify(params_segment_id) %>"><%= params_section_title %></h2>
      <% end %>

      <% if feature.params_note.present? %>
        <div class="feature__params_note">
          <% admonition(:info) do %>
            <%= markdown_prose(feature.params_note) %>
          <% end %>
        </div>
      <% end %>


      <% param_sections.each do |param_section| %>

        <% if show_param_section_titles %>
          <h3 class="inset_title" id="<%= param_section.guide_anchor(params_segment_id) %>" anchor-link>
            <span class="inset_title__text">
              <%# <i class="fa fa-clone"></i> %>
              <%= param_section.title %>
            </span>
            <span class="inset_title__divider"></span>
          </h3>
        <% end %>

        <% param_section.params.each do |param| %>
          <div class="feature__param" id="<%= param.guide_anchor %>" anchor-link>


            <div class="feature__param_info">
              <span class="feature__param_name">
                <%= param.signature %>
              </span>
              <% if param.experimental? && !feature.experimental? %>
                <span class="feature__param_experimental_icon" title="Experimental">
                  <i class="fa fa-flask"></i>
                </span>
              <% end %>
            </div>

            <div class="feature__param_details">

              <span class="feature__param_optionality">
                <% if param.optional? %>
                  <span class="tag is_gray is_ghost">optional</span>
                <% end %>

                <% if param.required? %>
                  <span class="tag is_teal">required</span>
                <% end %>
              </span>

              <div class="feature__param_prose">
                <div class="prose">
                <%= markdown(param.guide_markdown) %>
                  <% if param.references? %>
                    <p>
                      See <%= param.references.map { |reference| hyperlink_to_reference(reference) }.join(', ') %>.
                    </p>
                  <% end %>
                </div>
              </div>

              <% if param.types.present? %>
                <div class="feature__param_types">
                  <%= types param.types %>
                </div>
              <% end %>

            </div> <%# .feature__param_details %>

          </div> <%# .feature__param %>
        <% end %> <%# each param %>

      <% end %> <%# each param_section %>

    <% end %> <%# params visible %>

    <% if feature.response %>

      <hr class="separator">

      <h2 id="return-value">
        Return value
      </h2>

      <div class="feature__param">
        <div class="feature__param_info">
          <!-- empty for response -->
        </div>

        <div class="feature__param_details">
          <div class="feature__param_prose">
            <%= markdown_prose(feature.response.guide_markdown) %>
          </div>
          <% if feature.response.types.present? %>
            <div class="feature__param_types">
              <%= types(feature.response.types) %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>


  <% end %> <%# auto_toc %>

</div>
