<%
  guide.reload if development?
  interface = guide.find_by_guide_id!(interface_id)
  @page_title = interface.title
%>

<%= edit_button(interface) %>

<h1>
  <%= breadcrumb_link 'API', '/api' %>

  <% if interface.module? %>
    <%= interface.title %>
    <div class="subtitle">
      <span class="dimmed">module</span>
      <%= interface.name %>
    </div>
  <% elsif interface.class? %>
    <span class="dimmed">class</span>
    <%= interface.title %>
  <% elsif interface.page? %>
    <%= interface.title %>
  <% end %>
</h1>

<% if interface.guide_markdown.present? %>
  <% markdown_html = markdown_prose(interface.guide_markdown, auto_toc: interface.page?) %>

  <% if interface.collapse_markdown? %>
    <div class="expandable">

      <div class="expandable__limiter">
         <div class="expandable__content">
           <%= markdown_html %>
         </div>
      </div>

      <span class="expandable__expand action">Read more</span>

    </div>
  <% else %>
    <%= markdown_html %>
  <% end %>
<% end %>

<% if (sub_topics = interface.sub_topics.presence) %>
  <h2 id="topics">Topics</h2>

  <ul class="topics">
    <% sub_topics.each do |sub_topic| %>
       <li><%= link_to content_tag(:i, '', class: "fa fa-file-text-o") + ' ' + sub_topic.title, sub_topic.guide_path %></li>
    <% end %>
  </ul>
<% end %>

<% if (essential_features = interface.essential_features.presence) %>
  <h2 id="essential-features">Essential features</h2>

  <div class="essential_features">
    <% essential_features.each do |feature| %>
      <a class="essential_feature <%= 'is_code' if feature.code? %>" href="<%= feature.guide_path %>">
        <div class="essential_feature__signature">
          <%= feature.short_signature %>
        </div>
        <div class="essential_feature__kind" title="<%= feature.long_kind %>">
          <%= feature.short_kind %>
        </div>
        <div class="essential_feature__summary">
          <%= markdown_prose(feature.summary_markdown, strip_links: true) %>
        </div>
      </a>
    <% end %>
  </div>
<% end %>

<% if (all_features = interface.guide_features.sort.presence) %>
  <h2 id="all-features">All features</h2>

  <% all_features.each do |feature| %>
    <%= feature_preview(feature) %>
  <% end %>
<% end %>
