<%
  guide.reload if development?
  interface = guide.find_by_guide_id!(interface_id)
  @page_title = interface.title
%>

<%= edit_button(interface) %>

<h1>
  <%= breadcrumb_link 'API', '/api' %>

  <% if interface.module? %>
    <%= interface.title %>
    <div class="subtitle">
      <span class="dimmed">module</span>
      <%= interface.name %>
    </div>
  <% elsif interface.class? %>
    <span class="dimmed">class</span>
    <%= interface.title %>
  <% elsif interface.page? %>
    <%= interface.title %>
  <% end %>
</h1>

<% auto_toc do %>

  <% if interface.guide_markdown.present? %>
    <%= markdown_prose(interface.guide_markdown) %>
  <% end %>

  <%
    sub_topics = interface.sub_topics
    essential_features = interface.essential_features
    all_features = interface.guide_features.sort
  %>

  <% if sub_topics.present? || essential_features.present? || all_features.present? %>

    <hr class="separator">

    <% if sub_topics.present? %>
      <h2 id="topics" style="margin-top: 0">Guides</h2>

      <ul class="topics">
        <% sub_topics.each do |sub_topic| %>
           <li><%= link_to content_tag(:i, '', class: "fa fa-file-text-o") + ' ' + sub_topic.title, sub_topic.guide_path %></li>
        <% end %>
      </ul>
    <% end %>

    <% if essential_features.present? || all_features.present? %>

      <h2 id="features">Features</h2>

      <% if essential_features.present? %>
        <h3 id="essential-features">Essentials</h3>

        <div class="essential_features">
          <% essential_features.each do |feature| %>
            <a class="essential_feature <%= 'is_code' if feature.code? %>" href="<%= feature.guide_path %>">
              <div class="essential_feature__signature">
                <%= feature.short_signature %>
              </div>
              <div class="essential_feature__kind" title="<%= feature.long_kind %>">
                <%= feature.short_kind %>
              </div>
              <div class="essential_feature__summary">
                <%= markdown_prose(feature.summary_markdown, strip_links: true) %>
              </div>
            </a>
          <% end %>
        </div>
      <% end %>

      <% if all_features.present? %>
        <h3 id="all-features">All features</h3>

        <% all_features.each do |feature| %>
          <%= feature_preview(feature) %>
        <% end %>
      <% end %>

    <% end %>

  <% end %>
<% end %>
