<%
 guide.reload if development?
 klass = guide.klass_for_name(klass_name)
 @page_title = klass.title
%>

<%= edit_button(klass) %>

<h1>
  <% if klass.module? %>
    <%= klass.title %>
    <div class="subtitle">
      <span class="dimmed">module</span>
      <%= klass.name %>
    </div>
  <% elsif klass.class? %>
    <span class="dimmed">class</span>
    <%= klass.title %>
  <% end %>
</h1>

<% if klass.guide_markdown.present? %>
  <div class="expandable" up-data='<%= { path: klass.guide_path }.to_json %>'>

    <div class="expandable__limiter">
     <div class="expandable__content">
       <%= markdown_prose(klass.guide_markdown) %>
     </div>
    </div>

    <a class="expandable__expand action">Read more</a>

  </div>
<% end %>

<% if klass.module? %>
  <%= feature_previews 'CSS selectors', klass.selectors %>
  <%= feature_previews 'DOM events', klass.events %>
  <%= feature_previews 'JavaScript functions', klass.functions %>
  <%= feature_previews 'JavaScript properties', klass.properties %>
<% elsif klass.class? %>
  <%= feature_previews 'Constructor', klass.constructor %>
  <%= feature_previews 'Properties', klass.properties %>
  <%= feature_previews 'Instance methods', klass.instance_methods %>
  <%= feature_previews 'Class methods', klass.class_methods %>
<% end %>

