<form class="search">

  <input type="text" class="search__query" placeholder="Search API …">

  <div class="search__matches">
    <% guide.feature_index.entries.reject(&:internal?).each do |entry| %>
      <a href="<%= entry.guide_path %>" up-modal=".content" class="search__symbol is_<%= entry.visibility %>" data-search-text="<%= entry.search_text %>">
        <span class="search__symbol_kind"><%= entry.short_kind %></span>
        <span class="search__symbol_name"><%= entry.name %></span>
        <% if entry.selector? %>
          <div class="search__symbol_params">
            <% entry.params.each do |param| %>
              <% unless entry.name.include?(param.name) %>
                <div class="search__symbol_param">
                  <span class="search__symbol_kind">PARAM</span>
                  <span class="search__symbol_name">[<%= param.name %>]</span>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </a>
    <% end %>
  </div>

</form>
