<div class="symbol is_<%= symbol.visibility %>" id="<%= symbol.guide_anchor %>">

  <div class="symbol__signature">
    <%= link_to h(symbol.signature), "##{symbol.guide_anchor}" %>
    <% if symbol.visibility.present? && symbol.visibility != 'public' %>
      <span class="symbol__tag is_visibility">
        <%= symbol.visibility %>
      </span>
    <% end %>
  </div>

  <% if symbol.guide_markdown.present? %>
    <div class="symbol__prose">
      <%= markdown_prose(symbol.guide_markdown) %>
    </div>
  <% end %>


  <% if symbol.params.present? %>

    <div class="symbol__subtitle">
      Parameters
    </div>

    <% symbol.params.each do |param| %>
      <div class="symbol__param">
        <div class="symbol__param_name">
          <%= param.signature -%>
          <span class="symbol__type">
            <%= param.types.join(' <span class="symbol__or">or</span> ') %>
          </span>
          <% if param.optional? %>
            <span class="symbol__tag is_optional">
              optional
            </span>
          <% end %>
        </div>
        <div class="symbol__param_prose">
          <%= markdown_prose(param.guide_markdown) %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if symbol.response %>

    <div class="symbol__subtitle">
      Return value
    </div>

    <% if symbol.response.types.present? %>
      <div class="symbol__type">
        <%= symbol.response.types.join(' <span class="symbol__or">or</span> ') %>
      </div>
    <% end %>

    <div class="symbol__response">
      <%= markdown_prose(symbol.response.guide_markdown) %>
    </div>
  <% end %>
  
</div>
