<div class="prose">

  <h1>
    Progressive enhancement, reloaded
  </h1>

  <p>
    Up.js gives your traditional web application fast-responding views
    with minimal changes to your code and development style.
    If you require modern UX but don't want to pay the Javascript MVC complexity tax,
    Up.js can be a solution for you.
  </p>

  <h2>Examples</h2>

  <h3>Update a page fragment via AJAX</h3>

  <%= partial 'examples/embed', locals: { example: Upjs::Example.find('update-fragment') } %>

  <h3>Animate a page transition</h3>

  <%= partial 'examples/embed', locals: { example: Upjs::Example.find('transition') } %>

  <h3>Custom tags</h3>

  <%= partial 'examples/embed', locals: { example: Upjs::Example.find('timestamp-tag') } %>

  <h3>Modal dialogs</h3>

  <%= partial 'examples/embed', locals: { example: Upjs::Example.find('modal') } %>

  <h2>
    Project status
  </h2>

  <p>
    <a href="http://www.makandra.com">We</a>'ve started to use Up.js in production.
    We're currently building a few more apps with it in order to improve the public API.
  </p>

  <p>
    If you use Up.js in production, you should be OK with a minor API
    changes until we reach version 1.0.
  </p>

  <h2>
    Philosophy
  </h2>
  
  <p>
    Up.js is an opinionated Javascript library. 
    You should understand our philosophy to see if Up.js
    is for you. 
  </p>

  <h3>Client-side MVC is a complexity driver</h3>

  <p>
    In order to meet the demand for modern, fast-moving interfaces,
    we have pushed more and more code into the client. 
    This has vastly increased the complexity of our technology stacks.
    Modern web applications have a complete MV* stack on both sides of the wire,
    which we need to understand, synchronize and maintain.
  </p>
  
  <p>
    We would like to reclaim some of the simplicity of
    classic server-side MVC development, while making your app
    feel more responsive and while enabling the most
    popular UI patterns you see on the web.
  </p>

  <h3>Batteries included</h3>

  <p>
    We will ship a basic implementation for the most established UI patterns like
    <a href="/up.navigation">navigation bars</a>, infinite scrolling,
    <a href="/up.popup">drop-down menus</a>, <a href="/up.modal">modals dialogs</a>,
    etc.
  </p>
  <p>
    We will split this out into a plugin architecture eventually, but not now.
  </p>

  <p>
    Our built-in UI patterns ship with commonly seen options.
    We don’t want to compromise their ease of use by providing a million hooks and switches.
    If you are missing an option, you can always roll your own code or integrate
    an existing Javascript library.
  </p>

  <h3>Not for ambitious UIs</h3>
  
  <p>
    While Up.js pushes limits of what's traditionally been possible
    with server-side web development, the paradigm <i>does</i> have limits which we
    recognize. If you want to create a very ambitious user interface,
    Up.js is probably not the best approach.
  </p>

  <h3>Plays nice with existing JS code</h3>
  <p>
    You can <a href="/up.magic">wire</a> your existing JS code
    into the <a href="/up.link">Up.js page flow</a>.
  </p>

  <h3>URLs are important</h3>

  <p>
    In Up.js every page or screen state has a URL
    which you can bookmark and share.
    This also means you get all the SEO love from Google.
  </p>
    
  <h3>Server-side code should stay the same</h3>

  <p>
    We want to push progressive enhancement and unobtrusive Javascript
    to new extremes. For this we want to limit the amount of change
    required to your server-side code.
    E. g. it should not require extra controllers or views to update a page
    fragment via AJAX.
  </p>

  <h3>Be small</h3>

  <p>
    Up.js is <%= upjs_library_size %> KB gzipped.
    <br />
    The only dependency is jQuery.
  </p>
  
  <h3>Both UJS and programmatic interfaces</h3>

  <p>
    All Up.js functionality is available as both unobtrusive behavior
    (through HTML attributes like <code>up-target</code>)
    and Javascript functions for programmatic access and integration
    with your code.
  </p>


  
  <h2>Browser support</h2>

  <p>
    Up.js supports all modern browsers.
  </p>

  <p>
    Up.js gracefully degrades with old versions of Internet Explorer:
  </p>

  <table>
    <tr>
      <th>Edge</th>
      <td>Full support</td>
    </tr>
    <tr>
      <th>IE 10</th>
      <td>Full support</td>
    </tr>
    <tr>
      <th>IE 9</th>
      <td>Page updates that change browser history fall back to a classic page load</td>
    </tr>
    <tr>
      <th>IE 8</th>
      <td>Up.js prevents itself from booting itself, leaving you with a classic server-side application</td>
    </tr>
  </table>

  
  <h2>Installation</h2>

  <p>
    The base framework consists of two files:
  </p>
  
  <ul>
    <li>
      <a href="https://raw.githubusercontent.com/makandra/upjs/master/dist/up.js"><code>up.js</code></a>
      (<a href="https://raw.githubusercontent.com/makandra/upjs/master/dist/up.min.js">minified</a>)
    </li>
    <li>
      <a href="https://raw.githubusercontent.com/makandra/upjs/master/dist/up.css"><code>up.css</code></a>
      (<a href="https://raw.githubusercontent.com/makandra/upjs/master/dist/up.min.css">minified</a>)
    </li>
  </ul>

  <p>
    Download the files and include them in your page using <code>&lt;script&gt;</code>
    and <code>&lt;style&gt;</code> tags.
  </p>

  <p>
    If you're using <a href="http://getbootstrap.com/">Bootstrap 3</a> you also want to include
    the following files:
  </p>

  <ul>
    <li>
      <a href="https://raw.githubusercontent.com/makandra/upjs/master/dist/up-bootstrap.js"><code>up-bootstrap.js</code></a>
      (<a href="https://raw.githubusercontent.com/makandra/upjs/master/dist/up-bootstrap.min.js">minified</a>)
    </li>
    <li>
      <a href="https://raw.githubusercontent.com/makandra/upjs/master/dist/up-bootstrap.css"><code>up-bootstrap.css</code></a>
      (<a href="https://raw.githubusercontent.com/makandra/upjs/master/dist/up-bootstrap.min.css">minified</a>)
    </li>
  </ul>

  <h3>Bower</h3>
  
  <p>
    You can also download the files using Bower:
  </p>
  
  <pre><code class="nohighlight">bower install upjs</code></pre>
  
  <p>
    This will download the files to
    <code>bower_components/upjs/dist</code>.
  </p>
  
  
  <h3>Ruby on Rails</h3>
  
  <p>
    Up.js is available as a Ruby gem that makes the library's Javascript and CSS sources
    available to the asset pipeline. To install Up.js in Rails,
    add the following line to your <code>Gemfile</code>:
  </p>

  <pre><code class="ruby">gem 'upjs-rails'</code></pre>

  <p>Now run <code>bundle install</code> and restart your development server.</p>

  <p>Add the following line to your <code>application.js</code> manifest:</p>

  <pre><code class="javascript">//= require up</code></pre>

  <p>
    Also add the following line to your <code>application.css</code> manifest:</p>
  </p>

  <pre><code class="scss">/*
 *= require up
 */</code></pre>

  <p>
    If you're using <a href="http://getbootstrap.com/">Bootstrap 3</a> you also want to
    <code>require up-bootstrap</code> in both your <code>application.js</code> and
    <code>application.css</code> manifests.
  </p>

  <h2>Getting started</h2>

  <p>
    This is the best place to start with the documentation:<br />
    <a href="/up.link">Linking to page fragments</a>
  </p>

</div>
