<div class="hero">

  <div class="hero--notification notification">
    <p>Unpoly <a href="/changes/<%= guide.version %>"><%= guide.version %></a> is now available.</p>
    <p>To stay up to date, <a href="/community">watch GitHub Discussions</a> or <a href="https://twitter.com/unpolyjs">follow on Twitter</a>.</p>
  </div>

  <h1 class="hero--claim">
    Progressive enhancement for HTML
  </h1>

  <p class="hero--explanation">
    <span class="hero--explanation-line">
      Get powerful new HTML attributes to build dynamic UI on the server.
    </span>
    <span class="hero--explanation-line">
      Works with any language. Gracefully degrades without JavaScript.
    </span>
  </p>

  <%= partial 'layouts/start_actions' %>

</div>


<div class="usp">
  <div class="usp--icon">
    <i class="fa fa-puzzle-piece"></i>
  </div>

  <div class="usp--title">
    Links only update changed fragments
  </div>
  <div class="usp--description">
    <span class="line-on-wide">
      Unpoly enhances your links to
      <%= hyperlink 'update fragments', '/up.link', class: 'hyperlink' %>
      instead of full pages.
    </span>
    <span>
      This preserves other page state, like scroll positions or forms.
    </span>
  </div>
</div>

<div class="usp">
  <div class="usp--icon">
    <i class="fa fa-wpforms"></i>
  </div>
  <div class="usp--title">
    Master complex forms
  </div>
  <div class="usp--description">
    <span class="line-on-wide">
      Submit forms <%= hyperlink 'without leaving the page', '/up-submit' %>.
    </span>
    <span>
      <%= hyperlink 'Validate forms', '/validation' %>,
      <%= hyperlink 'update dependent fields', '/dependent-fields' %>
      and use <%= hyperlink 'multi-step forms within modals', '/subinteractions' %>.
    </span>
  </div>
</div>


<div class="usp">
  <div class="usp--icon">
    <i class="fa fa-clone"></i>
  </div>
  <div class="usp--title">
    Branch off into layers
  </div>
  <div class="usp--description">
    <span class="line-on-wide">
      Branch off <%= hyperlink 'subinteractions', '/subinteractions' %> into
      <%= hyperlink 'overlays', '/up.layer' %>.
    </span>
    <span class="line-on-wide">
      Return to the main page when you're done.
    </span>
  </div>
</div>


<div class="usp">
  <div class="usp--icon">
    <i class="fa fa-magic"></i>
  </div>

  <div class="usp--title">
    Outsmart server latency
  </div>
  <div class="usp--description">
    <span class="line-on-wide">
      Shorten response times by
      <%= hyperlink 'preloading pages', '/up-preload' %>,
      <%= hyperlink 'caching responses', '/caching' %> and
      <%= hyperlink 'following links earlier', '/up-instant' %>.
    </span>
    <span class="line-on-wide">
      Cached content is
      <%= hyperlink 'kept fresh', '/caching#revalidation' %>
      and <%= hyperlink 'remains available when offline', '/network-issues' %>.
    </span>
  </div>
</div>

<div class="usp">
  <div class="usp--icon">
    <i class="fa fa-flash"></i>
  </div>

  <div class="usp--title">
    Client-side interaction feedback
  </div>
  <div class="usp--description">
    <span class="line-on-wide">
      Instantly show <%= hyperlink 'placeholders', '/placeholders' %>,
      <%= hyperlink 'disable forms', '/disabling-forms' %> or define
      <%= hyperlink 'arbitrary loading state', '/previews' %>.
    </span>
    <span class="line-on-wide">
      You can even do
      <%= hyperlink 'optimistic rendering', '/optimistic-rendering' %> with
      <%= hyperlink 'client-side templates', '/templates' %>.
    </span>
  </div>
</div>

<div class="usp">
  <div class="usp--icon">
    <i class="fa fa-cubes"></i>
  </div>
  <div class="usp--title">
    Organize your JavaScript snippets
  </div>
  <div class="usp--description">
    <span class="line-on-wide">
      Organize your Javascripts in
      <%= hyperlink 'compilers', '/up.compiler' %>
      to pair HTML elements with JavaScript behavior.
    </span>
    <span class="line-on-wide">
      Enhance existing HTML tags or create new elements.
    </span>

  </div>
</div>

<div class="usp">
  <div class="usp--icon">
    <i class="fa fa-film"></i>
  </div>

  <div class="usp--title">
    Animation
  </div>
  <div class="usp--description">
    <%= hyperlink 'Animate page changes', '/up.motion' %>
    with fade, swipe or zoom transitions.
  </div>
</div>

<div class="usp">
  <div class="usp--icon">
    <i class="fa fa-plug"></i>
  </div>
  <div class="usp--title">
    Extensible
  </div>
  <div class="usp--description">
    Hack and extend Unpoly using its comprehensive
    <%= hyperlink 'render lifecycle', '/render-lifecycle' %>,
    <%= hyperlink 'JavaScript API', '/up.fragment' %> and
    <%= hyperlink 'event model', '/up.event' %>.
  </div>
</div>

<div class="usp">
  <div class="usp--icon">
    <i class="fa fa-handshake-o"></i>
  </div>
  <div class="usp--title">
    Plays nice with existing code
  </div>
  <div class="usp--description">
    Migrate any server-side web application with
    <%= hyperlink 'manageable changes', '/legacy-scripts' %> to existing JavaScripts.
  </div>
</div>

<!--    <div class="usp">-->
<!--      <div class="usp--icon">-->
<!--        <i class="fa fa-heart-o"></i>-->
<!--      </div>-->
<!--      <div class="usp--title">-->
<!--        Degrades gracefully-->
<!--      </div>-->
<!--      <div class="usp--description">-->
<!--        Unpoly supports <%#= hyperlink 'all modern browsers', '/up.framework.isSupported' %>.-->
<!--      </div>-->
<!--    </div>-->

<div class="usp">
  <div class="usp--icon">
    <i class="fa fa-random"></i>
  </div>
  <div class="usp--title">
    Fix concurrency
  </div>
  <div class="usp--description">
    Avoid real-world race conditions by

    <%= hyperlink 'smart aborting', '/aborting-requests' %>,
    <%= hyperlink 'batched validations', '/dependent-fields#preventing-race-conditions' %> and
    <%= hyperlink 'disabling submitted forms', '/disabling-forms' %>.
  </div>
</div>

