<div class="hero">

  <div class="hero--notification notification">
    <p>This is the documentation for Unpoly <b>0.x</b> and <b>1.x</b>.</p>
    <p>For the latest version visit <a href="https://unpoly.com">https://unpoly.com</a>.</p>
  </div>

  <h1 class="hero--claim">
    <span class="hero--claim-line">
      The unobtrusive JavaScript framework
    </span>
    <span class="hero--claim-line">
      for server-side web applications
    </span>
  </h1>

  <p class="hero--explanation">
    <span class="hero--explanation-line">
      Unpoly enables fast and flexible frontends while keeping rendering logic on the server.
    </span>
    <span class="hero--explanation-line">
      It has
      <b>no dependencies</b>
      and plays nice with existing code.
    </span>
  </p>

  <%= partial 'layouts/start_actions' %>

</div>

<div class="usps" id="features">
  <div class="usps--inner">

    <div class="usp">
      <div class="usp--icon">
        <i class="fa fa-paper-plane-o"></i>
      </div>

      <div class="usp--title">
        Smoother navigation
      </div>
      <div class="usp--description">
        Unpoly links can
        <%= modal_hyperlink 'update page fragments', '/up.link', class: 'hyperlink' %>
        instead of full pages.
        No JavaScript required.
      </div>
    </div>

    <div class="usp">
      <div class="usp--icon">
        <i class="fa fa-clone"></i>
      </div>
      <div class="usp--title">
        Branch off into layers
      </div>
      <div class="usp--description">
        Branch off interactions into
        <%= modal_hyperlink 'modals', '/up.modal' %>,
        <%= modal_hyperlink 'popups', '/up.popup' %> or
        <%= modal_hyperlink 'drawers', '/a-up-drawer' %>.
        Return to the main page when you're done.
      </div>
    </div>

    <div class="usp">
      <div class="usp--icon">
        <i class="fa fa-film"></i>
      </div>

      <div class="usp--title">
        Animation
      </div>
      <div class="usp--description">
        <%= modal_hyperlink 'Animate page changes', '/up.motion' %>
        with fade, swipe or zoom transitions.
      </div>
    </div>

    <div class="usp">
      <div class="usp--icon">
        <i class="fa fa-flash"></i>
      </div>

      <div class="usp--title">
        Faster response times
      </div>
      <div class="usp--description">
        Outsmart latency by
        <%= modal_hyperlink 'preloading pages', '/a-up-preload' %>,
        <%= modal_hyperlink 'following links earlier', '/a-up-instant' %>,
        <%= modal_hyperlink 'caching responses', '/up.proxy' %> and keeping a persistent CSS / JS environment.
      </div>
    </div>

    <div class="usp">
      <div class="usp--icon">
        <i class="fa fa-cubes"></i>
      </div>
      <div class="usp--title">
        Structure for JavaScript snippets
      </div>
      <div class="usp--description">
        Organize your frontend code in
        <%= modal_hyperlink 'compilers', '/up.compiler' %>
        and let Unpoly pair HTML elements with JavaScript behavior.
      </div>
    </div>

    <div class="usp">
      <div class="usp--icon">
        <i class="fa fa-wpforms"></i>
      </div>
      <div class="usp--title">
        Better forms
      </div>
      <div class="usp--description">
        Submit forms <%= modal_hyperlink 'via AJAX', 'form-up-target' %>.
        Work with forms within modals.
        <%= modal_hyperlink 'Validate forms', '/input-up-validate' %> against
        server rules while filling in fields.
      </div>
    </div>

    <div class="usp">
      <div class="usp--icon">
        <i class="fa fa-handshake-o"></i>
      </div>
      <div class="usp--title">
        Plays nice with existing code
      </div>
      <div class="usp--description">
        Migrate any server-side web application with
        minimal changes to existing code.
      </div>
    </div>

    <div class="usp">
      <div class="usp--icon">
        <i class="fa fa-plug"></i>
      </div>
      <div class="usp--title">
        Extensible
      </div>
      <div class="usp--description">
        Build your own components using Unpoly's
        <%= modal_hyperlink 'extensive Javascript API', '/up.fragment' %> and
        <%= modal_hyperlink 'event model', '/up.event' %>.
      </div>
    </div>

    <div class="usp">
      <div class="usp--icon">
        <i class="fa fa-heart-o"></i>
      </div>
      <div class="usp--title">
        Degrades gracefully
      </div>
      <div class="usp--description">
        Unpoly supports <%= modal_hyperlink 'all modern browsers', '/up.browser' %>.
        On old IEs features are disabled gracefully.
      </div>
    </div>

  </div>
</div>


<h2 id="how-it-works">How it works</h2>

<ol class="steps">

  <li>
    <b>
      Write a server-side app in any language
    </b>
    <br>
    Like Ruby, PHP, Node.js, Java, Elixir …
  </li>

  <li>
    <b>
      <%= modal_hyperlink 'Install', '/install' %> the Unpoly JavaScript and CSS
    </b>
    <br>
    Only <%= unpoly_library_size %> gzipped. No dependencies . CSS is minimal and non-invasive.
  </li>

  <li>
    <b>Decorate links with HTML attributes from the future</b>
    <br>
    Like
    <%= modal_hyperlink 'up-target', '/a-up-target' %>,
    <%= modal_hyperlink 'up-modal', '/a-up-modal' %>,
    <%= modal_hyperlink 'up-dash', '/a-up-dash' %> …
  </li>

  <li>
    <b>Enjoy a vastly improved frontend</b>
    <br>
    With snappy views, layered interactions, animations …
  </li>
</ol>

<%= partial 'layouts/start_actions' %>
