<%
 guide.reload if development?
 klass = guide.klass_for_name(klass_name)
 @page_title = klass.title
%>

<%= edit_button(klass) %>

<h1 class="klass_badge">
  <div class="klass_badge_title"><%= klass.title %></div>
  <div class="klass_badge__meta">
    <span class="klass_badge__kind"><%= klass.kind %></span>
    <span class="klass_badge__name"><%= klass.name %></span>
  </div>
</h1>


<% if klass.guide_markdown.present? %>
  <div class="expandable" up-data='<%= { path: klass.guide_path }.to_json %>'>

    <div class="expandable__limiter">
     <div class="expandable__content">
       <%= markdown_prose(klass.guide_markdown) %>
     </div>
    </div>

    <a class="expandable__expand action">Read more</a>

  </div>
<% end %>

<% selectors = klass.selectors.reject(&:internal?).sort %>
<% if selectors.present? %>

  <h2 class="subtitle">CSS selectors</h2>

  <% selectors.each do |behavior| %>
    <%= partial 'feature_preview', locals: { feature: behavior } %>
  <% end %>

<% end %>

<% functions = klass.functions.reject(&:internal?).sort %>
<% if functions.present? %>

  <h2 class="subtitle">JavaScript functions</h2>

  <% functions.each do |function| %>
    <%= partial 'feature_preview', locals: { feature: function } %>
  <% end %>

<% end %>

<% properties = klass.properties.reject(&:internal?).sort %>
<% if properties.present? %>

  <h2 class="subtitle">JavaScript properties</h2>

    <% properties.each do |property| %>
      <%= partial 'feature_preview', locals: { feature: property } %>
    <% end %>

<% end %>

<% events = klass.events.reject(&:internal?).sort %>
<% if events.present? %>

  <h2 class="subtitle">Events</h2>

  <% events.each do |event| %>
    <%= partial 'feature_preview', locals: { feature: event } %>
  <% end %>

<% end %>
