<%
 guide.reload if development?
 klass = guide.klass_for_name(klass_name)
 @page_title = klass.title
%>


<h1 class="title">
  <%= klass.title %>
</h1>

<%= markdown_prose(klass.guide_markdown) %>

<% selectors = klass.selectors.reject(&:internal?) %>
<% if selectors.present? %>
  <div class="api">

    <div class="api__title">CSS selectors</div>

    <div class="api__explanation">
      Elements matching these CSS selectors will automatically
      gain useful behavior when they are added to the DOM tree.
    </div>

    <div class="api__symbols">

      <% selectors.each do |behavior| %>
        <%= partial 'api_symbol', locals: { symbol: behavior } %>
      <% end %>

    </div>

  </div>
<% end %>

<% functions = klass.functions.reject(&:internal?) %>
<% if functions.present? %>
  <div class="api">

    <div class="api__title">Javascript functions</div>

    <div class="api__symbols">

      <% functions.each do |function| %>
        <%= partial 'api_symbol', locals: { symbol: function } %>
      <% end %>

    </div>

  </div>
<% end %>

<% properties = klass.properties.reject(&:internal?) %>
<% if properties.present? %>
  <div class="api">

    <div class="api__title">Javascript properties</div>

    <div class="api__symbols">

      <% properties.each do |property| %>
        <%= partial 'api_symbol', locals: { symbol: property } %>
      <% end %>

    </div>

  </div>
<% end %>

<% events = klass.events.reject(&:internal?) %>
<% if events.present? %>
  <div class="api">

    <div class="api__title">Events</div>

    <div class="api__symbols">

      <% events.each do |event| %>
        <%= partial 'api_symbol', locals: { symbol: event } %>
      <% end %>

    </div>

  </div>
<% end %>
