- @page_title = 'Privacy policy'

.prose

  %h1 Privacy policy

  %p
    Thank you for your visit of the Unpoly documentation portal at #{url_link 'https://unpoly.com'} (hereinafter the <b>“Website”</b>).
    The Website is operated by makandra GmbH (hereinafter “<b>makandra</b>” or “<b>we</b>”).

  %p
    The processing of personal data on, and through, our Website is made in compliance with the General Data Protection Regulation (GDPR), the German Federal Data Protection Act (Bundesdatenschutzgesetz - BDSG) and the German Telemedia Act (Telemediengesetz - TMG). In this privacy statement, we inform you of the collection of personal data from the data subject on, and through, our Website in accordance with Article 13 GDPR.

  %p
    In this privacy statement, the definitions in Article 4 GDPR apply.


  %h3 1. Name and contact details of the controller

  %p The controller for the processing of personal data in accordance with this privacy statement is:

  %p
    makandra GmbH
    %br
    Werner-von-Siemens-Str. 6
    %br
    86159 Augsburg
    %br
    Germany
    %br
    E-Mail:
    = mail_to 'info@makandra.com'
    %br
    Website:
    = url_link 'https://makandra.com'


  %h3 2. Contact details of the data protection officer

  %p
    makandra has appointed a data protection officer in accordance with Article 37 GDPR and § 38 BDSG with the following contact details:

  %p
    makandra GmbH
    %br
    \- Datenschutzbeauftragter -
    %br
    Werner-von-Siemens-Str. 6
    %br
    86159 Augsburg
    %br
    E-Mail:
    = mail_to 'datenschutz@makandra.de'

  %h3 3. Purposes and legal basis of the processing of personal data

  %p If you visit or use the Website, makandra will collect, process and use your personal data for the following purposes.

  %h4 a) Collection and processing of personal data upon a visit to the Website

  %p Upon a visit to the Website, we collect and process only that information and those personal data which are automatically transmitted to us by your Internet browser such as:

  %ul
    %li date and time of your access to the Website
    %li your browser type and version, as well as the browser settings
    %li name and version of your operating system
    %li the website from which you access our Website (referrer URL)
    %li your IP address
    %li the URL requested by you

  %p That information and those personal data are required to correctly deliver the contents of the Website, to optimise the contents of, and advertising for, the Website, as well as to ensure  network and information security, and to protect the Website against attacks, disruption and damage.

  %p The personal data and information collected on that basis are evaluated by makandra  statistically and for the purpose of enhancing data protection and data security in order to ensure a level of security for the personal data processed by us which is appropriate to the risk. The personal data collected when you access the website, in particular, the user’s IP address, will be deleted, at the latest, seven days from their collection, unless an attack or a threat by the user was discovered.

  %p To the extent that we collect and use personal data of the user such as, in particular, the user’s IP address, upon an access to the Website, the legal basis therefor is Article 6(1)(f) GDPR, as that processing is necessary for the purposes of the legitimate interests pursued by makandra. The legitimate interests pursued by makandra are the enhancement of data protection and data security in order to ensure a level of security for the personal data processed by makandra which is appropriate to the risk, to ensure network and information security, to optimise the Website and to protect the Website against attacks, disruption and damage.


  %h4#cookies c) Use of cookies

  %p
    In using the Website, cookies will be used. The purpose of cookies is the personalisation of the Website for your visit and the facilitation of the use of the Website. Cookies are small text files which the Website transmits to the cookie file of the Internet browser on your terminal device and which are kept there for a later retrieval, so that the Website can, inter alia, remember who you are. Typically, a cookie will include the name of the domain from where it was set, the “lifetime” of the cookie and a unique identifier. The following types of cookies are used on the Website:

  %ul
    %li Session Cookies: These are temporary cookies, which are kept in the cookie file of your browser until you leave the Website and which are necessary, in particular, in order that you can use the Website and make downloads from it. Session cookies will be deleted once you terminate the browser session. The legal basis for the processing of personal data by session cookies (if any) is Article 6(1)(b) GDPR, as the processing is necessary for the performance of a contract between makandra and the data subject or in order to take steps at the request of the data subject prior to entering into a contract, i.e., in order that makandra can enable you to use the Website.
    %li Cookies in connection with Google Analytics, as described in section 3 d) below.

  %p
    If you do not want to accept cookies of the Website, you can deactivate them and object to the access to information stored before by setting your Internet browser accordingly. The settings of your browser which allow you to do this vary from browser to browser and can normally be found under “Data Protection” or “Cookies” of the “Internet Options” or “Settings” menu of your browser. If you need help to deactivate or delete cookies, you should use the “Help” menu in your browser. Details regarding the management and deletion of cookies, as well as relevant instructions for the most common browsers, are available, for example, at #{url_link 'http://www.allaboutcookies.org/'}. Please note, however, that you may not be able to use all of the interactive features and functions of the Website if cookies are blocked or deleted.


  %h4 d) Use of Google Analytics

  %p
    This Website uses Google Analytics, a web analytics service provided by Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA (<b>"Google"</b>).

  %p
    Google Analytics uses so called "cookies", i.e., small text files that are stored on the computer of the user and make it possible to analyse the Website usage. Usually the information stored in cookies about the Website usage is transmitted to a Google server in the USA and saved there. On makandra’s Website IP anonymization is enabled so that Google will shorten the user’s IP address within a member state of the European Union or a contracting party to the Agreement on the European Economic Area. Only in exceptional cases will the full IP address be transmitted to a Google server in the US and shortened there so that data processing might take place outside the European Union. In such case personal data collected by means of Google Analytics will be transferred to the USA. Google Inc. is certified under the EU-U.S. Privacy Shield (see #{url_link 'https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI'}) and thus has provided the legal requirements for ensuring an adequate level of data protection for the provision of the Google Analytics service by means of processing on behalf of the controller.

  %p
    The user can object to the use of Google Analytics and prevent the storage of cookies by respective browser settings as explained above under section 3 c). The user can also stop data (incl. his IP address) created by cookies and associated with his website usage from being sent to Google or processed by Google by downloading and installing the browser add-on for deactivation of the Google Analytics JavaScrip available at the following link #{url_link 'http://tools.google.com/dlpage/gaoptout?hl=en'}.

  %p
    Further information and the current privacy policies of Google can be retrieved at #{url_link 'https://www.google.de/intl/de/policies/privacy/'} and #{url_link 'https://support.google.com/analytics/answer/6004245?hl=de&ref_topic=2919631'}.

  %p
    Legal basis for using Google Analytics is Article 6(1)(f) GDPR, as using Google Analytics is necessary for the purposes of the legitimate interests pursued by makandra. The legitimate interests pursued by makandra are to evaluate the number of visits and to analyse the use of the Website in order to improve the Website, its user-friendliness and the offers from makandra and make them more interesting for the user.

  %h3 4. Recipients of personal data / no transfer to a third country

  %p
    We will only transfer your personal data to the companies stated in section 3 and to the following company which hosts our Website as data processor:

  %p
    PlusServer GmbH
    %br
    Hohenzollernring 72
    %br
    D-50672 Köln
    %br
    Germany

  %p
    Other than in the cases stated in section 3 we will not transfer your personal data to a third country.

  %h3 5. Storage period of personal data

  %p
    We only store your personal data as long as necessary for the purposes for which the personal data have been collected or processed unless statutory data retention periods require a longer storage.


  %h3 6. Your rights as a data subject

  %p You have the following rights:

  %ul
    %li Right of access to your personal data (Article 15 GDPR)

    %li Right to rectification (Article 16 GDPR)

    %li Right to erasure (Article 17 GDPR)

    %li Right to restriction of processing (Article 18 GDPR)
    %li Right to object to processing pursuant to Article 21 GDPR where the processing is based on Article 6(1)(e) or 6(1)(f) GDPR as explained in detail at the end of this privacy statement

    %li Right to data portability (Article 20 GDPR)
    %li Where the processing is based on consent pursuant to Article 6(1)(a) or Article 9(2)(a) GDPR, the right to withdraw a given consent at any time, without affecting the lawfulness of processing based on consent before its withdrawal
    %li Right to lodge a complaint with a supervisory authority (Article 77 GDPR)




  %h3 7. Your duty to provide personal data and potential consequences of a failure to provide personal data

  %p
    The provision of personal data is necessary to use the Website. If personal data are not provided, the Website may not be used at all, or only be used with a limited scope of functions.

  %h3 8. No automated decision-making / no profiling

  %p
    We do not make any automated decision-making or profiling.

  %h3 9. Changes to this privacy statement

  %p
    It could be necessary to update and change the content of this privacy statement from time to time. Therefore, makandra reserves the right to change this privacy statement and will provide the changed privacy statement on the Website and will notify the data subjects prior to implementing the change if makandra intends to further process the personal data for another purpose.


  %h2 Information about the right to object pursuant to Article 21 GDPR

  %h3 1. Right to object on grounds relating to the particular situation

  %p
    You shall have the right to object, on grounds relating to your particular situation, at any time to processing of personal data concerning you which is based on Article 6(1)(e) (public safety) or Article 6(1)(f) GDPR (data processing based on weighing of interests), including profiling based on those provisions. makandra shall no longer process the personal data unless makandra demonstrates compelling legitimate grounds for the processing which override the interests, rights and freedoms of you or for the establishment, exercise or defense of legal claims.

  %h3 2. Right to object in case of direct marketing

  %p
    Where personal data are processed for direct marketing purposes, you shall have the right to object at any time to processing of personal data concerning you for such marketing, which includes profiling to the extent that it is related to such direct marketing. Where you object to processing for direct marketing purposes, the personal data shall no longer be processed for such purposes.

  %h3 3. Exercising the right to object

  %p The right to object can be exercised informally, e.g. by post to makandra GmbH, Werner-von-Siemens-Str. 6, 86159 Augsburg, Germany or by e-mail to #{mail_to 'datenschutz@makandra.de'}.
