<%
   guide.reload if development?
%>

<% guide.features_for_guide_id(guide_id).each_with_index do |feature, i| %>

  <% @page_title = feature.signature if i == 0 %>

  <div class="symbol is_<%= feature.visibility %>">

    <a class="symbol__klass" href="<%= feature.klass.guide_path %>">
      Module
      <span class="symbol__klass_name"><%= feature.klass.name %></span>
    </a>

    <div class="symbol__signature">
      <%= h(feature.signature) %>
      <% if feature.visibility.present? && feature.visibility != 'stable' %>
        <span class="tag isnt_stable">
          <%= feature.visibility %>
        </span>
      <% end %>
    </div>

    <% if feature.experimental? %>
      <div class="symbol__warning">
        This feature is experimental and not part of Unpoly's stable API.
        It may be removed or changed without prior notice or deprecation.
      </div>
    <% end %>

    <% if feature.guide_markdown.present? %>
      <div class="symbol__prose">
        <%= markdown_prose(feature.guide_markdown) %>
      </div>
    <% end %>


    <% if feature.params.present? %>

      <div class="symbol__subtitle">
        <% if feature.selector? %>
          Modifying attributes
        <% elsif feature.property? %>
          Value
        <% elsif feature.event? %>
          Properties
        <% else %>
          Parameters
        <% end %>
      </div>

      <% feature.params.each do |param| %>
        <div class="symbol__param">
          <div class="symbol__param_name">
            <%= param.signature -%>
            <span class="symbol__type">
              <%= param.types.join(' <span class="symbol__or">or</span> ') %>
            </span>
            <% if param.optional? %>
              <span class="tag is_teal">
                optional
              </span>
            <% end %>
          </div>
          <div class="symbol__param_prose">
            <%= markdown_prose(param.guide_markdown) %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if feature.response %>

      <div class="symbol__subtitle">
        Return value
      </div>

      <% if feature.response.types.present? %>
        <div class="symbol__type">
          <%= feature.response.types.join(' <span class="symbol__or">or</span> ') %>
        </div>
      <% end %>

      <div class="symbol__param_prose">
        <%= markdown_prose(feature.response.guide_markdown) %>
      </div>
    <% end %>

  </div>

<% end %>
